@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CryptoWallet</h1>
    <br />
    <p class="tab">
        With our astonishing application, you can now make transaction into any coin that is in the market, deposit your real paper,
        convert anything that's on the market at a live rate that is also displayed below.
    </p>
    <p>Take a look for yourself.</p>
    <p><a href="https://localhost:44320/Home/Rates" class="btn btn-primary btn-lg">Go to rates &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Manage your money
        </h2>
        <p>
            <bold>OPEN A CURRENT ACCOUNT IN MINUTES</bold>
        </p>
        <p>
            Unlike banks, opening an account with us only takes a few minutes.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Send money easily</h2>

        <p>
            TRANSFER MONEY GLOBALLY
        </p>
        <p>
            Transfer money all over the world by only a bunch of clicks.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Keep track</h2>
        <p>HISTORY ALL OVER THE PLACE</p>
        <p>We’ll show you an exact history of your monthly transactions.</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}